# === Deep-Learning ===
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2       # необязателен, но устраняет ворнинги

# === YOLO / CV ===
ultralytics==8.3.133           # YOLOv11 уже внутри
opencv-python-headless>=4.9.0
pillow>=10.0.0
PyYAML>=6.0

# === Data / Science ===
numpy>=1.26,<2.0
pandas>=2.2.0
matplotlib>=3.8.0
scipy>=1.12.0
seaborn>=0.13.2

# === Experiment & MLOps ===
dvc>=3.59.1
dvclive>=2.0.1
optuna>=3.6.1
tensorboard>=2.15.1

# === Utils / качество жизни ===
tqdm>=4.66.0
requests>=2.32.0
protobuf<4                      # требуется tensorboard-у

# === Опционально (Kaggle) ===
kaggle>=1.5.15